/*****************************************************
  Andrés Ángel González Granda - uo68216@uniovi.es 
   Estructura de la página.
******************************************************/
/* MONITOR */
/* Especificidad: 001 */
header {
  display: flex;
  flex-flow: column wrap;
  gap: 0.25vw;
}

/* Especificidad: 002 */
header nav {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-around;
  align-content: space-around;
  gap: 2.5vw;

}

/* Especificidad: 012, 012 */
form[name = "formularioLogin"] > fieldset,
form[name = "formularioRegistro"] > fieldset{
    display: grid;
    grid-template-columns: 30% 70%;
    row-gap: 3vw;
    column-gap: 1vw;
}

/* Especificidad: 013, 013 */
form[name = "formularioLogin"] > fieldset > button,
form[name = "formularioRegistro"] > fieldset > button{
   grid-column: span 2;
   justify-self: center;
}

@media (max-width: 799px) {/* TABLET */
}

@media (max-width: 465px) {/*  MOVIL */
  /* Especificidad: 002 */
  header nav {
    /* Redefine flex-flow de row wrap a column nowrap (Monitor a Movil) */
    flex-flow: column nowrap;
  }
  
  /* Especificidad: 012, 012 */
  form[name = "formularioLogin"] > fieldset,
  form[name = "formularioRegistro"] > fieldset{
    /* Redefine grid-template-columns (Monitor a móvil)*/
    grid-template-columns: 100%;
    /* Redefine row-gap (Monitor a móvil)*/
    row-gap: 2vw;}

  /* Especificidad: 013, 013 */
  form[name = "formularioLogin"] > fieldset > button,
  form[name = "formularioRegistro"] > fieldset > button{
    /* Redefine grid-columns (Monitor a móvil)*/
    grid-column: 1;
  }
  
  /*Especificidad: 012 */
    body > p:first-of-type {
    /* Oculta migas de pan */
    display: none;
  }
}