/*****************************************************
  Andrés Ángel González Granda - uo68216@uniovi.es 
   Estructura de la página.
******************************************************/
/* MONITOR */
/* Especificidad: 001 */
header {
  display: flex;
  flex-flow: column wrap;
  gap: 0.25vw;
}

/* Especificidad: 002 */
header nav {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-around;
  align-content: space-around;
  gap: 2.5vw;

}
@media (max-width: 799px) {/* TABLET */
}

@media (max-width: 465px) {/*  MOVIL */
  /* Especificidad: 002 */
  header nav {
    /* Redefine flex-flow de row wrap a column nowrap (Monitor a Movil) */
    flex-flow: column nowrap;
  }
  
  /*Especificidad: 012 */
    body > p:first-of-type {
    /* Oculta migas de pan */
    display: none;
  }
}